<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>A Mid-Republican House From Gabii</p>
        <p>Written and crafted by Rachel Opitz, Marcello Mogetta, Nicola Terranato, Editors</p>
        <p>Written and crafted with Sam Lash, Matt Naglak, Tyler Johnson, Antonio F. Ferrandes, Francesca Alhaique, Laura Motta, Shannon Ness, Jason Farr</p>
        <ul class="list-unstyled">
          <li>ISBN: 978-0-472-99900-2</li>
          <li>DOI: http://dx.doi.org/10.3998/mpub.123456</li>
        </ul>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>&copy; Gabii Goes Digital 2016 | Published and Hosted by the University of Michigan Press</p>
      </div>
    </div>
  </div>
</footer>
