<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

{% if page.category == "unity" %}
  <script src="/assets/js/jPushMenu.js"></script>

  <script>
    jQuery(document).ready(function($) {
	     $('.toggle-menu').jPushMenu();
    });
  </script>

  <script type="text/javascript">
  <!--
  var unityObjectUrl = "/assets/js/UnityObject2.js";
  if (document.location.protocol == 'https:')
    unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
  document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
  -->
  </script>

  <script type="text/javascript">

  <!--
    var config = {
      width: 800,
      //width: 600,
      height: 469,
      params: { enableDebugging:"0" ,
              logoimage: "/assets/img/gabii.png"



              }


    };
    var u = new UnityObject2(config);

    jQuery(function() {

      var $missingScreen = jQuery("#unityPlayer").find(".missing");
      var $brokenScreen = jQuery("#unityPlayer").find(".broken");
      $missingScreen.hide();
      $brokenScreen.hide();

      u.observeProgress(function (progress) {
        switch(progress.pluginStatus) {
          case "broken":
            $brokenScreen.find("a").click(function (e) {
              e.stopPropagation();
              e.preventDefault();
              u.installPlugin();
              return false;
            });
            $brokenScreen.show();
          break;
          case "missing":
            $missingScreen.find("a").click(function (e) {
              e.stopPropagation();
              e.preventDefault();
              u.installPlugin();
              return false;
            });
            $missingScreen.show();
          break;
          case "installed":
            $missingScreen.remove();
          break;
          case "first":
          break;
        }
      });
      u.initPlugin(jQuery("#unityPlayer")[0], "/assets/unity/17Mar2016.unity3d");
    });
  -->
  </script>

  <script src="/assets/js/unity.js"></script>

{% endif %}
