<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Area B House</title>
    <link rel="shortcut icon" href="assets/webGL/TemplateData/favicon.ico">
    <link rel="stylesheet" href="assets/webGL/TemplateData/style.css">
    <script src="assets/webGL/TemplateData/UnityProgress.js"></script>
    <script src="assets/webGL/Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "assets/webGL/WebGLTest3.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>

        {{ content }}

  </body>


</html>
